In [1]:
import pandas as pd

### 1. Import Datasets
The data is originally provided as .txt file. I read the .txt file in excel and saved it as .csv

In [2]:
df_neg = pd.read_csv('train_neg.csv', sep="\t")
df_neg.columns = ["reviewText"]
df_neg["rating"] = 0

In [3]:
df_neg.shape

(1500, 2)

In [4]:
df_neg.head()

                                          reviewText  rating
0  Came in a brown half liter bottle with a good ...       0
1  12 oz bottle poured into a pint glass, got a b...       0
2  Appearance: Pours a rich amber-red color with ...       0
3  I can't imagine a worse winter warmer. Surely ...       0
4  12 oz bottle best by 8/9/11, poured into a pin...       0

In [5]:
df_pos = pd.read_csv('train_pos.csv', sep="\t")
df_pos.columns = ["reviewText"]
df_pos["rating"] = 1

In [6]:
df_pos.shape

(1500, 2)

In [7]:
df_pos.head()

                                          reviewText  rating
0  Too imaptient- poured straight from fridge int...       1
1  Kinda surprised I haven't reviewed this long a...       1
2  Thanks goes out to goryshkewych and roopy40 fo...       1
3  A - Pours a ruby red with two fingers of head....       1
4  from the bottle, poured crimson red with a nic...       1

In [8]:
df_test = pd.read_csv('test.csv', sep="\t")

In [9]:
df_test.head()

                                             Column1
0  12oz bottle; bottled-on date Sept '10.\t\tPour...
1  Poured from a 22 oz. bottle into a standard pi...
2  Pours a cloudy honey like color with a thin la...
3  750 ml bottle courtesy of myspoonistoobig. Tha...
4  A: Hazy amber in color with a half finger head...

In [10]:
df_all = df_neg.append(df_pos)

In [11]:
df_all.head(5)

                                          reviewText  rating
0  Came in a brown half liter bottle with a good ...       0
1  12 oz bottle poured into a pint glass, got a b...       0
2  Appearance: Pours a rich amber-red color with ...       0
3  I can't imagine a worse winter warmer. Surely ...       0
4  12 oz bottle best by 8/9/11, poured into a pin...       0

In [12]:
df_all.shape

(3000, 2)

In [13]:
from sklearn.pipeline import Pipeline
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer()
from sklearn.feature_extraction.text import TfidfTransformer
from sklearn.metrics import confusion_matrix, classification_report, f1_score
from sklearn.model_selection import train_test_split
from sklearn.svm import SVC

In [14]:
X_train, X_test, y_train, y_test = train_test_split(df_all["reviewText"], df_all["rating"], test_size=0.33, random_state=101)

In [15]:
X_train.shape

(2010,)

In [16]:
pipe = Pipeline([("bow", CountVectorizer(stop_words="english", token_pattern=r'\w+')),
                 ("tfidf", TfidfTransformer()),
                 ("model", SVC(kernel="linear"))])

In [17]:
pipe.fit(X_train, y_train)

Pipeline(memory=None,
     steps=[('bow', CountVectorizer(analyzer='word', binary=False, decode_error='strict',
        dtype=<class 'numpy.int64'>, encoding='utf-8', input='content',
        lowercase=True, max_df=1.0, max_features=None, min_df=1,
        ngram_range=(1, 1), preprocessor=None, stop_words='english',
        s...,
  max_iter=-1, probability=False, random_state=None, shrinking=True,
  tol=0.001, verbose=False))])

In [18]:
predictions = pipe.predict(X_test)

In [19]:
print(confusion_matrix(y_test, predictions))
print("\n")
print(classification_report(y_test, predictions))

[[444  82]
 [ 56 408]]


             precision    recall  f1-score   support

          0       0.89      0.84      0.87       526
          1       0.83      0.88      0.86       464

avg / total       0.86      0.86      0.86       990